raid:
  db:
    user: postgres
    password: supersecret
    host: localhost
    port: 7432
  spatial-coverage:
    schema-uri:
      geonames: https://www.geonames.org/
      openstreetmap: https://www.openstreetmap.org/
  validation:
    geonames:
      username: geonames
  history:
    baseline-interval: 5
spring:
  jackson:
    default-property-inclusion: non_null
    serialization:
      write-dates-as-timestamps: false
  datasource:
    driver-class-name: org.postgresql.Driver
    url: jdbc:postgresql://${raid.db.host}:${raid.db.port}/raido
    username: ${raid.db.user}
    password: ${raid.db.password}
  jooq:
    sql-dialect: postgres
  flyway:
    default-schema: api_svc
    create-schemas: true
    baseline-version: 25
springdoc:
  swagger-ui:
    enabled: true
  api-docs:
    path: /docs
datacite:
  endpoint: https://api.test.datacite.org
  prefix: 10.82841
  password: not-set
  user: NPQS.RKFZRK