raid:
  stub:
    geo-names:
      enabled: true
      delay: 150
    orcid:
      enabled: true
      delay: 150
    apids:
      enabled: true
      delay: 150
    ror:
      enabled: true
      delay: 150
    doi:
      enabled: true
      delay: 150
    open-street-map:
      enabled: true
      delay: 150
  identifier:
    schema-uri: https://raid.org/
    license: Creative Commons CC-0
    landing-prefix: https://raid.org/
    global-url-prefix: https://hdl.handle.net
    registration-agency-identifier: https://ror.org/038sjwq14
    handle-url-prefix: http://test.static.raid.org.au/
  spatial-coverage:
    schema-uri:
      geonames: https://www.geonames.org/
      openstreetmap: https://www.openstreetmap.org/
  validation:
    geonames:
      username: geonames
  history:
    baseline-interval: 50
spring:
  jackson:
    default-property-inclusion: non_null
    serialization:
      write-dates-as-timestamps: false
  datasource:
    driver-class-name: org.postgresql.Driver
    url: jdbc:postgresql://${raid.db.host}:${raid.db.port}/${raid.db.name}
    username: ${raid.db.user}
    password: ${raid.db.password}
  jooq:
    sql-dialect: postgres
  flyway:
    default-schema: api_svc
    create-schemas: true
    baseline-version: 25
  security:
    oauth2:
      resourceserver:
        jwt:
            issuer-uri: ${raid.iam.realm-uri}
      client:
        registration:
          keycloak:
            client-id: raid-api-2
            authorization-grant-type: authorization_code
            scope: openid
        provider:
          keycloak:
            issuer-uri: ${raid.iam.realm-uri}
            user-name-attribute: preferred_username
  profiles:
    active: dev
springdoc:
  swagger-ui:
    enabled: true
  api-docs:
    path: /docs
datacite:
  endpoint: https://api.test.datacite.org/dois