openapi: 3.0.3
servers:
  - url: 'https://demo.raido-infra.com'
  - url: 'https://test.raido-infra.com'
  - url: 'http://localhost:8080'
info:
  title: RAID v2 API
  version: 2.0.0
  contact:
    name: ARDC RAiD team
    email: contact@raid.org
tags:
  - name: public-experimental
    description: The APIs are not stable, they may change at any time.  
      Can be called without auth.
  - name: raido-experimental
    description: The APIs are not stable, they may change at any time.
      These endpoints are intended to be called by the Raido UI.
      Must be called with auth.
security:
  # without this, or if you override with `[]`, no header will be sent
  # by the openapi generated code
  - BearerAuth:
    # Mandatory, but I don't know what the content is supposed to be?    
    - unknown

paths:

  # region public endpoints (signing in and requesting authz, etc.)

  /v2/public/version:
    $ref: "public-experimental.yaml#/paths/~1version"
  /v2/public/list-service-point/v1:
    $ref: "public-experimental.yaml#/paths/~1public-list-service-point"
  /v2/public/handle/v1/{handle}:
    $ref: "public-experimental.yaml#/paths/~1public-read-raid"
  /v2/public/handle/v2/{handle}:
    $ref: "public-experimental.yaml#/paths/~1public-read-raid-v2"

  # endregion
  
  
  # region Unauthorized user endpoints 
  
  /v2/public/request-authz/v1:
    $ref: "unauthz-experimental.yaml#/paths/~1update-request-authz"

  # endregion


  # region Basic RAID endpoints
  
  /v2/experimental/list-raid/v1:
    $ref: "basic-raid-experimental.yaml#/paths/~1list-raid"
  /v2/experimental/mint-raid/v1:
    $ref: "basic-raid-experimental.yaml#/paths/~1mint-raid-v1"
  /v2/experimental/update-raid/v1:
    $ref: "basic-raid-experimental.yaml#/paths/~1update-raid-v1"
  /v2/experimental/read-raid/v1:
    $ref: "basic-raid-experimental.yaml#/paths/~1read-raid-v1"
  
  /v2/experimental/mint-raido-schema/v1:
    $ref: "metadata-schema-v1.yaml#/paths/~1mint-raido-schema-v1"
  /v2/experimental/update-raido-schema/v1:
    $ref: "metadata-schema-v1.yaml#/paths/~1update-raido-schema-v1"
  /v2/experimental/read-raid/v2:
    $ref: "metadata-schema-v1.yaml#/paths/~1read-raid-v2"
  /v2/experimental/list-raid/v2:
    $ref: "metadata-schema-v1.yaml#/paths/~1list-raid-v2"
  /v2/experimental/migrate-legacy-raid/v1:
    $ref: "metadata-schema-v1.yaml#/paths/~1migrate-legacy-raid"
      
#  /v2/experimental/mint-raido-schema-v2/v1:
#    $ref: "raido-metadata-schema-v1.yaml#/paths/~1mint-raido-schema-v2-v1"
      
  # endregion
      
      
  # region Admin endpoints
                
  /v2/public/request-authz/v1/{authzRequestId}:
    $ref: "admin-experimental.yaml#/paths/~1read-request-authz"
  /v2/experimental/update-authz-request-status/v1:
    $ref: "admin-experimental.yaml#/paths/~1update-authz-request-status"
  /v2/experimental/admin-authz-request/v1:
    $ref: "admin-experimental.yaml#/paths/~1list-authz-request"
  /v2/experimental/service-point/v1:
    $ref: "admin-experimental.yaml#/paths/~1list-service-point"
  /v2/experimental/service-point/v1/{servicePointId}:
    $ref: "admin-experimental.yaml#/paths/~1read-service-point"
  /v2/experimental/service-point/v1/{servicePointId}/list-app-user:
    $ref: "admin-experimental.yaml#/paths/~1list-app-user"
  /v2/experimental/app-user/v1:
    $ref: "admin-experimental.yaml#/paths/~1update-app-user"
  /v2/experimental/app-user/v1/{appUserId}:
    $ref: "admin-experimental.yaml#/paths/~1read-app-user"
  /v2/experimental/service-point/v1/{servicePointId}/list-api-key:
    $ref: "admin-experimental.yaml#/paths/~1list-api-key"
  /v2/experimental/api-key/v1:
    $ref: "admin-experimental.yaml#/paths/~1update-api-key"
  /v2/experimental/api-key/v1/{apiKeyId}:
    $ref: "admin-experimental.yaml#/paths/~1read-api-key"
  /v2/experimental/app-user-extra/v1/{appUserId}:
    $ref: "admin-experimental.yaml#/paths/~1read-app-user-extra"
  /v2/experimental/generate-api-token/v1:
    $ref: "admin-experimental.yaml#/paths/~1generate-api-token"

  # endregion


components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
