<!-- this file is currently setup for local development, thus the time format
and suppressing various startup logs. 
-->
<configuration>
  <!-- https://www.slf4j.org/api/org/slf4j/bridge/SLF4JBridgeHandler.html -->
<!--  <contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator"/>-->
  <contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator">
    <resetJUL>true</resetJUL>
  </contextListener>  
  <statusListener class="ch.qos.logback.core.status.OnConsoleStatusListener"/>

  <appender name="UNMASKED_CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
    <!--<pattern>%d{HH:mm:ss,SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>-->
    <!--<pattern>%d{"ddMMM HH:mm:ss,SSS"} %level %thread %logger{0} %m%n</pattern>-->
    <encoder>
      <!-- Date format inherits UTC from JVM - don't change that because it
      affects *everything* (e.g. unexpected things like JDBC drivers, etc.) 
      Use an override file with %date{"HH:mm:ss,SSS",GMT+10:00} if you can't 
      live without local times.
      The comma for separating millis is Euro-style dictated by ISO standard - 
      decimals and commas are transposed, because *of course* they are.
      The comma separator is why we need the quotes.     
      -->
      <pattern>%date{"HH:mm:ss,SSS"} [%thread] %level %logger{0} %m%n</pattern>
    </encoder>
  </appender>

  <root level="debug">
    <appender-ref ref="UNMASKED_CONSOLE"/>
  </root>

  <!-- debug is generally be disabled for deployment environments.
  In dev, we have it on then explicitly switch it off for most noisy stuff
  that we don't need usually want to see during development. -->
  <logger name="raido" level="debug"/>
  
  <!-- debug logs request/response data, usually don't want it -->
  <logger name="raido.apisvc.service.apids.ApidsService" level="info"/>

  <!-- debug logs endpoint request payload, usually don't want it -->
  <logger name="raido.apisvc.spring.RequestLoggingFilter" level="info"/>
  
  <!-- These log at info because we want them enabled by default in most 
  deploy environments.  I filter them out because most of the time I don't need
  to see that stuff in my local dev environment. When personal dev logging is 
  implemented - move these overrides there. -->
  <logger name="raido.apisvc.util.JvmUtil" level="warn"/>
  <logger name="raido.apisvc.spring.config.environment.DataSourceProps" level="warn"/>
  <!-- set to debug to see full list of metrics on start -->
  <logger name="raido.apisvc.spring.bean.MetricRegistry" level="info"/>
  
  <!-- Almost never want to see any of these logs, either dev or deployed --> 
  <logger name="org.springframework" level="info"/>
  <logger name="org.eclipse.jetty" level="info"/>
  <logger name="com.zaxxer.hikari" level="info"/>
  
  
  
  <!-- we don't currently use http-client -->
  <logger name="org.apache.http" level="info"/>
  <logger name="httpclient.wire" level="info"/>
  <!-- This is the spring logging for their http stuff, but it's not very
   good, doesn't show you what actually goes across the wire. -->
  <logger name="org.springframework.http.HttpLogging" level="info"/>

  <!-- Not sure when this started generating noise in local dev; 
  but it's annoying, info level to disable it -->
  <logger name="okhttp3" level="info"/>

  <!-- from our custom P6SpyLogger, configured in spy.props. 
  Generally only useful in local dev, don't want it on in deployments because
  it will flood the logging. -->
  <logger name="p6spy" level="trace"/>
  <logger name="p6spy.tx" level="trace"/>
  <logger name="p6spy.cxnTest" level="trace"/>


  <!-- JUL logging config enabled by SLF4JBridgeHandler -->
  <!-- start JUL stuff -->

  <!-- pgjdbc logging - crazy verbose, prefer p6spy logging -->
  <logger name="org.postgresql" level="debug"/>
  <!-- JDK stuff - logging of TLS/certificate stuff, etc. -->
  <logger name="jdk" level="info"/>
  <!-- dangerous
  sun.net.www.protocol.http.HttpURLConnection logs auth headers -->
  <logger name="sun" level="info"/>

  <!-- end JUL stuff -->

  <!-- local dev load-test config, need to factor out to separate file -->
  <logger name="raido.apisvc.spring.RequestLoggingFilter" level="warn"/>
  <logger name="p6spy" level="info"/>
  <logger name="p6spy.tx" level="info"/>
  <logger name="p6spy.cxnTest" level="info"/>
  <logger name="raido.apisvc.service.stub" level="info"/>
  <!-- these intentionally use the prod logger, but we still want them quiet -->
  <logger name="raido.apisvc.service.orcid.OrcidService.http" level="warn"/>
  <logger name="raido.apisvc.service.ror.RorService.http" level="warn"/>
  <logger name="raido.apisvc.service.apids.ApidsService.http" level="warn"/>
  <!-- for debugging duplicate handle generation -->
<!--  <logger name="raido.apisvc.service.stub.apids.InMemoryApidsServiceStub" level="info"/>-->

  <!-- JMX spams out a lot of debug info if connecting to JMX (RMI stuff too)
  via JConsole or VisualVM -->
  <logger name="javax.management.remote" level="info"/>
  
  <!-- pushing aws metrics makes a lot of noise too -->
  <logger name="io.netty" level="info"/>
  <logger name="software.amazon.awssdk" level="info"/>
  <logger name="io.micrometer" level="info"/>
  
</configuration>
