<!-- this file is currently setup for local development, thus the time format
and suppressing various startup logs. 
-->
<configuration>
  <statusListener class="ch.qos.logback.core.status.OnConsoleStatusListener"/>

  <appender name="UNMASKED_CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
    <!--<pattern>%d{HH:mm:ss,SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>-->
    <!--<pattern>%d{"ddMMM HH:mm:ss,SSS"} %level %thread %logger{0} %m%n</pattern>-->
    <encoder>
      <!-- Date format inherits UTC from JVM - don't change that because it
      affects *everything* (e.g. unexpected things like JDBC drivers, etc.) 
      Use an override file with %date{"HH:mm:ss,SSS",GMT+10:00} if you can't 
      live without local times.
      The comma for separating millis is Euro-style dictated by ISO standard - 
      decimals and commas are transposed, because *of course* they are.
      The comma separator is why we need the quotes.     
      -->
      <pattern>%date{"HH:mm:ss,SSS"} [%thread] %level %logger{0} %m%n</pattern>
    </encoder>
  </appender>

  <root level="debug">
    <appender-ref ref="UNMASKED_CONSOLE"/>
  </root>

  <logger name="raido" level="debug"/>
  
  <!-- debug logs request/response data, usually don't want it -->
  <logger name="raido.service.apids.ApidsService" level="info"/>

  <!-- debug logs endpoint rqeust payload, usually don't want it -->
  <logger name="raido.spring" level="info"/>
  
  <!-- These log at info because we want them enabled by default in most 
  deploy environments.  When personal dev logging is implemented - move these 
  overrides there. -->
  <logger name="raido.util.JvmUtil" level="warn"/>
  <logger name="raido.spring.config.environment.DataSourceProps" level="warn"/>

  <!-- Almost never want to see any of these logs, either dev or deployed --> 
  <logger name="org.springframework" level="info"/>
  <logger name="org.eclipse.jetty" level="info"/>
  <logger name="com.zaxxer.hikari" level="info"/>
  
  <!-- don't currently use http-client -->
  <logger name="org.apache.http" level="info"/>
  <logger name="httpclient.wire" level="info"/>

  <!-- from our custom P6SpyLogger, configured in spy.props. 
  Generally only useful in local dev, don't want it on in deployments because
  it will flood the logging. -->
  <logger name="p6spy" level="debug"/>
  <logger name="p6spy.tx" level="debug"/>
  <logger name="p6spy.cxnTest" level="debug"/>
  <logger name="p6spy.cxnTest" level="debug"/>

  
  
</configuration>