---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Home Page">
  <div class="grid sm:grid-cols-3 grid-cols-1 gap-4">
    <div class="overflow-hidden rounded-lg bg-white shadow">
      <div class="px-4 py-5 sm:px-6">
        <p class="text-xl font-semibold">Prefixes</p>
      </div>
      <div class="bg-gray-50 px-4 py-5 sm:p-6">
        <a
          href="/prefix"
          type="a"
          class="rounded-md bg-sky-600 px-2.5 py-1.5 text-sm font-semibold text-white shadow-sm hover:bg-sky-700 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-sky-600"
        >
          Show prefixes
        </a>
      </div>
    </div>

    <div class="overflow-hidden rounded-lg bg-white shadow">
      <div class="px-4 py-5 sm:px-6">
        <p class="text-xl font-semibold">RAiDs</p>
      </div>
      <div class="bg-gray-50 px-4 py-5 sm:p-6">
        <a
          href="/raid"
          type="a"
          class="rounded-md bg-sky-600 px-2.5 py-1.5 text-sm font-semibold text-white shadow-sm hover:bg-sky-700 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-sky-600"
        >
          Show RAiDs
        </a>
      </div>
    </div>
  </div>
</BaseLayout>
