---
import RaidTable from "@/components/RaidTable.astro";
import {
  Card,
  CardContent,
  CardDescription,
  CardHeader,
  CardTitle,
} from "@/components/ui/card";
import raidsData from "../../data/raids.json";
import BreadcrumbsBar from "../components/BreadcrumbsBar.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="RAiD">
  <main>
    <BreadcrumbsBar
      items={[
        {
          label: "Home",
          href: "/",
        },
        {
          label: "Raids",
          href: "/raids",
        },
      ]}
    />
    <Card className="bg-white rounded">
      <CardHeader>
        <CardTitle>All RAiDs</CardTitle>
        <CardDescription className="text-gray-400">
          {
            raidsData.length === 1
              ? "1 raid"
              : `${raidsData.length} raids found`
          }
        </CardDescription>
      </CardHeader>
      <CardContent>
        <RaidTable />
      </CardContent>
    </Card>
  </main>
</Layout>
