---
import EntityCard from "../components/EntityCard.astro";

const { data, header } = Astro.props;
---

<div
  class="divide-y divide-gray-200 overflow-hidden rounded-lg bg-white shadow border-l-4 border-l-sky-500"
>
  <div class="px-2 py-3 sm:px-4">
    <div class="min-w-0 flex-1">
      <h2
        class="text-xl font-semibold leading-7 text-gray-900 sm:truncate sm:text-2xl sm:tracking-tight"
      >
        {header}
      </h2>
    </div>
  </div>

  {
    data instanceof Array
      ? data && data.map((el: any) => <EntityCard el={el} />)
      : data && <EntityCard el={data} />
  }
</div>
