---
const { id, label } = Astro.props;
---

<header class="relative isolate pt-16 bg-white">
  <div class="absolute inset-0 -z-10 overflow-hidden" aria-hidden="true">
    <div
      class="absolute left-16 top-full -mt-16 transform-gpu opacity-50 blur-3xl xl:left-1/2 xl:-ml-80"
    >
      <div
        class="aspect-[1154/678] w-[72.125rem] bg-gradient-to-br from-sky-500 to-[#c6d9f0]"
        style="clip-path: polygon(100% 38.5%, 82.6% 100%, 60.2% 37.7%, 52.4% 32.1%, 47.5% 41.8%, 45.2% 65.6%, 27.5% 23.4%, 0.1% 35.3%, 17.9% 0%, 27.7% 23.4%, 76.2% 2.5%, 74.2% 56%, 100% 38.5%)"
      >
      </div>
    </div>
    <div class="absolute inset-x-0 bottom-0 h-px bg-gray-200"></div>
  </div>

  <div class="mx-auto max-w-7xl px-4 py-10 sm:px-6 lg:px-8">
    <div
      class="mx-auto flex max-w-2xl items-center justify-between gap-x-8 lg:mx-0 lg:max-w-none"
    >
      <div class="flex items-center gap-x-6">
        <h1>
          <div class="text-sm leading-6 text-gray-500">
            RAiD <span class="text-gray-700">{id}</span>
          </div>
          <div class="mt-1 text-xl font-semibold leading-6 text-gray-900">
            {label}
          </div>
        </h1>
      </div>
    </div>
  </div>
</header>
