---

---

<nav
  class="sticky top-0 z-10 border-b border-blue-300 border-opacity-25 bg-zinc-800 lg:border-none"
>
  <div class="px-2 mx-auto max-w-7xl sm:px-4 lg:px-8">
    <div
      class="flex relative justify-between items-center h-16 lg:border-b lg:border-blue-400 lg:border-opacity-25"
    >
      <div class="flex items-center px-2 lg:px-0">
        <div class="flex-shrink-0">
          <div class="inline-flex gap-4">
            <p class="-mt-3 w-6 h-6 text-4xl text-white">ᚱ</p>
            <p class="font-semibold text-white">RAiD Static</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
