---
const pathname = new URL(Astro.request.url).pathname;
const currentPath = pathname.slice(1); // remove the first "/"

---

<header class="inset-x-0 top-0 z-50 flex h-16 border-b border-gray-300">
  <div
    class="mx-auto flex w-full max-w-7xl items-center px-4 sm:px-6 lg:px-8 gap-6"
  >
    <a href="/">
      <div class="flex flex-1 items-center gap-x-6">
        <img src="/raid-logo-light.svg" class="h-8 w-auto" alt="" />
      </div>
    </a>

    <nav class="flex gap-x-11 text-sm font-semibold leading-">
      <a class={currentPath === "" ? "text-black border-b-2 border-b-gray-400" : ""} href="/" class="text-gray-400 hover:text-gray-700">Home</a>
      <a class={currentPath.includes("prefixes") ? "text-black border-b-2 border-b-gray-400" : ""} href="/prefixes" class="text-gray-400 hover:text-gray-700">Prefixes</a>
      <a class={currentPath.includes("raids") ? "text-black border-b-2 border-b-gray-400" : ""} href="/raids" class="text-gray-400 hover:text-gray-700">RAiDs</a>
    </nav>
  </div>
</header>
