---

---

<nav class="bg-zinc-800 sticky top-0 z-50">
  <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
    <div class="relative flex h-16 items-center justify-between">
      <div
        class="flex flex-1 items-center justify-center sm:items-stretch sm:justify-start"
      >
        <div class="flex flex-shrink-0 items-center">
          <h2
            class="text-xl leading-7 text-white sm:truncate sm:text-2xl sm:tracking-tight"
          >
            RAiD Static
          </h2>
        </div>
      </div>
    </div>
  </div>
</nav>
