---

---

<nav
  class="bg-zinc-700 text-white fixed flex w-full h-12 z-20 top-0 start-0 border-b shadow"
>
  <div class="max-w-screen-xl flex w-full items-center px-5 gap-12">
    <a href="/" class="flex items-center space-x-3 rtl:space-x-reverse">
      <svg
        width="27"
        height="62"
        viewBox="0 0 27 62"
        fill="none"
        stroke="white"
        stroke-width="6"
        stroke-linejoin="bevel"
        xmlns="http://www.w3.org/2000/svg"
        class="w-3 h-8"
      >
        <path d="M3.08337 61V1"></path>
        <path d="M1 3H5.16667L21.8333 17L14.1427 34.274L23.9167 60"></path>
      </svg>

      <span
        class="self-center text-lg font-light whitespace-nowrap dark:text-white"
        >RAiD</span
      >
    </a>
  </div>
</nav>
