---
import type { Organisation } from "../types";

import {
  Card,
  CardContent,
  CardDescription,
  CardHeader,
  CardTitle,
} from "@/components/ui/card";

import { getHumanReadableKey, getTypeFromUrl } from "@/utils";

interface Props {
  organisations: Organisation[];
}

const { organisations } = Astro.props;
---

<Card className="rounded border-l-[#5594d8] border-l-4 bg-white">
  <CardHeader>
    <CardTitle>Organisations</CardTitle>
    <CardDescription>
      {organisations.length} Organisation(s)
    </CardDescription>
  </CardHeader>
  <CardContent>
    <div class="flex flex-col gap-4">
      {
        organisations.map((el: Organisation, index: number) => {
          return (
            <div class="flex flex-col gap-4 border rounded p-5">
              <div class="mb-2">
                <p class="font-semibold leading-none mb-5">
                  <span class="text-gray-300 text-sm mr-1">#{index + 1}</span>
                  {el.id}
                </p>
              </div>

              <div class="mb-2">
                <p class="font-medium leading-none">Roles</p>
              </div>
              {el.role.map((role) => {
                return (
                  <div class="mb-2 pl-5">
                    <a href={role.id}>
                      {getHumanReadableKey(getTypeFromUrl(role.id))}
                    </a>
                  </div>
                );
              })}
            </div>
          );
        })
      }
    </div>
  </CardContent>
</Card>
