---
import type { AlternateUrl } from "../types";

import {
  Card,
  CardContent,
  CardDescription,
  CardHeader,
  CardTitle,
} from "@/components/ui/card";

interface Props {
  alternateUrls: AlternateUrl[];
}

const { alternateUrls } = Astro.props;
---

<Card className="rounded border-l-[#5594d8] border-l-4 bg-white">
  <CardHeader>
    <CardTitle>Alternate URLs</CardTitle>
    <CardDescription>
      {alternateUrls?.length} Alternate URL(s)
    </CardDescription>
  </CardHeader>
  <CardContent>
    <div class="flex flex-col gap-4">
      {
        alternateUrls?.map((el: AlternateUrl, index: number) => {
          return (
            <div class="flex flex-col gap-4 border rounded p-5">
              <div class="mb-2">
                <p class="font-medium leading-none">
                  <span class="text-gray-300 text-sm mr-1">#{index + 1}</span>
                  <a href={el.url}>{el.url}</a>
                </p>
              </div>
            </div>
          );
        })
      }
    </div>
  </CardContent>
</Card>
