---
import type { Access } from "../types";

import {
  Card,
  CardContent,
  CardDescription,
  CardHeader,
  CardTitle,
} from "@/components/ui/card";

import { getTypeFromUrl } from "@/utils";

interface Props {
  access: Access;
}

const { access } = Astro.props;
---

<Card className="rounded border-l-[#5594d8] border-l-4 bg-white">
  <CardHeader>
    <CardTitle>Access</CardTitle>
    <CardDescription>RAiD Access</CardDescription>
  </CardHeader>
  <CardContent>
    <div class="grid grid-cols-4">
      <div class="space-y-1 text-sm">
        <h3 class="font-medium leading-none">
          {access?.accessStatement?.text}
        </h3>
        <p class="text-xs text-muted-foreground">Access Statement</p>
      </div>
      <div class="space-y-1 text-sm">
        <h3 class="font-medium leading-none">
          {access?.accessStatement?.language?.id}
        </h3>
        <p class="text-xs text-muted-foreground">Access Statement Language</p>
      </div>
      <div class="space-y-1 text-sm">
        <h3 class="font-medium leading-none">
          {getTypeFromUrl(access?.type?.id)}
        </h3>
        <p class="text-xs text-muted-foreground">Type</p>
      </div>
      <div class="space-y-1 text-sm">
        <h3 class="font-medium leading-none">{access?.embargoExpiry}</h3>
        <p class="text-xs text-muted-foreground">Embargo Expiry</p>
      </div>
    </div>
  </CardContent>
</Card>
