<configuration>
  <!-- https://www.slf4j.org/api/org/slf4j/bridge/SLF4JBridgeHandler.html -->
  <contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator">
    <resetJUL>true</resetJUL>
  </contextListener>
  <statusListener class="ch.qos.logback.core.status.OnConsoleStatusListener"/>

  <appender name="UNMASKED_CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%date{"HH:mm:ss,SSS"} [%thread] %level %logger{0} %m%n</pattern>
    </encoder>
  </appender>

  <!-- Debug is usually disabled in deployment environments.
  The Github CI workflow uses this config.
  If you want to enable extra logging for running locally, add your own file 
  like `sto.logback.xml` and use it via `-Dlogback.configurationFile=sto.logback.xml`
  -->
  <root level="info">
    <appender-ref ref="UNMASKED_CONSOLE"/>
  </root>

  <logger name="org.springframework.test.context.support" level="warn"/>
  <logger name="org.springframework.web.servlet.PageNotFound" level="error"/>
</configuration>