.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    /*animation: App-logo-spin infinite 20s linear;*/
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

aside.raido-environment-banner {
  display: block;
  position: absolute;
  top: .75em;
  left: -8.25em;
  width: 20em;
  text-align: center;
  transform: rotate(-45deg);
  font-size: 1em;
  color: white;
  background-color: firebrick;
  border: 1px solid white;
  z-index: 500;
}