<configuration>
  <statusListener class="ch.qos.logback.core.status.OnConsoleStatusListener"/>

  <appender name="UNMASKED_CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
    <!--<pattern>%d{HH:mm:ss,SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>-->
    <!--<pattern>%d{"ddMMM HH:mm:ss,SSS"} %level %thread %logger{0} %m%n</pattern>-->
    <encoder>
      <!-- Date format inherits UTC from JVM - don't change that because it
      affects *everything* (e.g. unexpected things like JDBC drivers, etc.) 
      Use an override file with %date{"HH:mm:ss,SSS",GMT+10:00} if you can't 
      live without local times.
      The comma for separating millis is Euro-style dictated by ISO standard - 
      decimals and commas are transposed, because *of course* they are.
      The comma separator is why we need the quotes.     
      -->
      <pattern>%date{"HH:mm:ss,SSS"} [%thread] %level %logger{0} %m%n</pattern>
    </encoder>
  </appender>

  <root level="debug">
    <appender-ref ref="UNMASKED_CONSOLE"/>
  </root>


  <logger name="raid" level="debug"/>
  
  <!-- generally don't want to see this, we're doing a lot of SQL statements -->
  <logger name="org.jooq" level="info"/>

  <!-- openfeign logs stuff at debug level, default to off -->
  <logger name="raido.idl.raidv2.api" level="info"/>
  

</configuration>