<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
    </encoder>
    <immediateFlush>false</immediateFlush>
  </appender>
  <!-- logLevel only works if Gatling generates the logback.xml - which it only
  does if there is no logback.xml anywhere on the classpath.
  So for logLevel to work, you need to delete this file and make sure that the 
  classpath for the execution context of Gatling contains no other `logback.xml`
  files (say... because you included your prod classpath in your dependencies).
  <root level="${logLevel}"> -->
  <root level="INFO"> 
    <appender-ref ref="CONSOLE"/>
  </root>
</configuration>