---
import type { ContributorRole } from "../../generated/raid/models/ContributorRole";
import { kebabToTitle } from "../../utils";

interface Props {
  contributorRoles: ContributorRole[];
}

const { contributorRoles } = Astro.props as Props;
---

<section>
  <div class="ml-5 py-2 flex gap-3">
    {
      contributorRoles?.map((el) => {
        const id = new URL(el.id).pathname.split("/").slice(-2, -1)[0];

        return (
          <span class="truncate inline-flex items-center gap-x-1.5 rounded-md bg-gray-200 px-2 py-1 text-xs font-medium text-gray-700">
            {kebabToTitle(id)}
          </span>
        );
      })
    }
  </div>
</section>
