---
import type { ContributorPosition } from "../../generated/raid/models/ContributorPosition";
import mapping from "../../mapping.json";
import { dateDisplayFormatter } from "../../utils/date-utils";
import InfoField from "../info-field.astro";

interface Props {
  contributorPositions: ContributorPosition[];
}

const { contributorPositions } = Astro.props as Props;
---

<section>
  {
    contributorPositions.map((el) => {
      const contributorPositionType = mapping.find(
        (mapEl) => mapEl.key === el.id
      );

      return (
        <div class="ml-5 space-y-2 py-4">
          <div class="grid grid-cols-4 gap-5 text-sm">
            <InfoField
              label="Position"
              value={contributorPositionType?.value}
              tooltip={contributorPositionType?.definition}
            />
            <InfoField
              label="Start Date"
              value={dateDisplayFormatter(el.startDate)}
            />
            <InfoField
              label="End Date"
              value={dateDisplayFormatter(el.endDate)}
            />
          </div>
        </div>
      );
    })
  }
</section>
